<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JOM PEICH</title>
</head>
<body>
    {{> header}}
    <p>Esto es un texto por si no lo notaste</p>
    <p>Hoy estamos a {{screamIt todayDate}}</p>

    {{> footer}}
</body>
</html>